src/main/java/com/experimental/sandbox/**
src/test/java/com/experimental/sandbox/**

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# IntelliJ
.idea/
*.iml
*.ipr
*.iws
fileTemplates/
out/

# Eclipse
.classpath
.project
.settings/

